[user]
	name = Larry He
	email = larry.he@veevasystems.com
[core]
	autocrlf = input
	safecrlf = true
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    cp = cherry-pick
    vdiff = difftool
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    myhist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short --author=larry.he
[diff]
	tool = gvimdiff
[merge]
	tool = gvimdiff
[difftool]
	prompt = false
